#navbar {
  background-color: #800000;
}

#text {
  color: white;
}

body {
  font-family: "Roboto", sans-serif !important;
}

.mr-auto {
  margin-right: auto;
}

.badge__wrapper {
  position: relative;
}

.badge {
  position: absolute !important;
  top: 0;
  right: -8px;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
