<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/reset.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Diag shop</title>
  </head>
  <body>
    {# Navigation-bar #}

    <nav class="navbar navbar-expand-lg navbar-primary">

        <a href="/ecom/index.php" class="navbar-brand" id="text">Diag shop</a>

        {# Drop down menu #}
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Kategorijos
              </button>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#"
                  >Universali automobiliu programavmo iranga</a
                >
                <a class="dropdown-item" href="#"
                  >Automobiliu iranga pagal marke</a
                >
                <a class="dropdown-item" href="#">ADAS kalibravimo iranga</a>
                <a class="dropdown-item" href="#">Chip-tuning iranga</a>
                <a class="dropdown-item" href="#"
                  >Sunkiuju automobiliu iranga</a
                >
                <a class="dropdown-item" href="#"
                  >Motociklu diagnostikos iranga</a
                >
              </div>
            </div>
          </div>
    </nav>

    <div class="col-md-8">
      <div class="row">
        <h2 class="text-center">Featured Products</h2>
        <div class="col-m3">
        {% for product in products %}
          <h4>{{ product.name }}</h4>
          <img src=images/autel_maxicheck.jpg alt="Autel maxichec" id="images"/>
          <p class="list-price text-danger">Pradine kaina: <s>299.90</s></p>
          <p class="price">Dabartine kaina: 249.99</p>
          <button
            type="button"
            class="btn btn-success"
            data-toggle="modal"
            data-target="#details-1"
          >
            Placiau
          </button>
          {% endfor %}
        </div>
      </div>
    </div>

    {# Footer #}
    <footer class="bg-light text-center text-lg-start">
      {#  Copyright  #}
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark">Auto diag</a>
      </div>
      {# Copyright  #}
    </footer>
   <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
  </body>
</html>
